.recommend-card-box > .card {
    width: 30vw;
    height: 25vh;
    flex: 1;
    background-color: #aaa;
    margin-left: 5vw;
    padding: 3%;
    border: 2.5vw solid #ddd;
    border-radius: 1rem;
}
.card:first-child {
    margin-left: 0;
}

.card > .image {
    width: 100%;
    height: 55%;
    background-color: #fff;
    margin-top: 5%;
}

.enable-click {
    pointer-events: none;
}
.background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #3335;
    z-index: 10;
}
.card-detail {
    width: 74%;
    height: 75%;
    margin: 0 auto;
    margin-top: 4vh;
    padding: 6%;
    background-color: #001830;
    border-radius: 1rem;
}
.card-detail_inner {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
    /* border: 5px solid #aaa; */
}
.card-detail_inner::before {
    content: '';
    width: 3rem;
    height: 3rem;
    background-color: #001830;
    position: absolute;
    left: -1.5rem;
    top: -1.5rem;
    border-radius: 100%;
}
.card-detail_inner::after {
    content: '';
    width: 3rem;
    height: 3rem;
    background-color: #001830;
    position: absolute;
    left: 92%;
    top: -1.5rem;
    border-radius: 100%;
}
.card-detail_level {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: #ad463f;
    padding-top: 1rem;
}
.card-detail_enname {
    text-align: center;
    font-size: .9rem;
    margin: .5rem 0;
}
.card-detail_image {
    width: 100%;
    height: 30vh;
}
.card-detail_count {
    text-align: center;
    font-size: .9rem;
    margin: .5rem 0;
}
.card-detail_korname {
    text-align: center;
    background-color: #001830;
    color: #fff;
    padding: 2% 0;
    font-size: 1.7rem;
}

.card-close {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    padding: 3%;
    border-radius: .25rem;
    margin-top: 2vh;
}