.profile {
    width: 90%;
    padding: 5%;
    display: flex;
    flex-flow: row nowrap;
}
.profile-image {
    width: 3rem;
    height: 3rem;
    background-color: #abc;
    border-radius: .35rem;
}
.profile-welcome {
    flex: 1;
    margin: 0 3vw;
}
.profile-welcome > div {
    font-size: 1rem;
    height: 50%;
}
.profile-welcome > .profile-nickname {
    font-weight: bold;
}
.profile-push {
    flex: .2;
    background-color: #abcccb;
}

.recommend {
    height: 40vh;
    padding-left: 5%;
    padding-top: 5%;
}
.recommend-card {
    width: 100%;
    height: 90%;
    overflow-x: scroll;
}
.recommend-card-box {
    width: max-content;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
}
.card {
    width: 40vw;
    height: 100%;
    background-color: #abc;
    margin-left: 5vw;
}
.recommend-card-box > .card:first-child {
    margin-left: 0;
}