body {
    font-family: 'SCore';
}

strong{
    color: #fff;
}

p,a,h1, h2, h3, h4, h5, h6{
    transform: skew(-0.001deg);
}

.main__container{
    box-sizing: border-box;
    width: 100%;
    padding: 4%;
    padding-bottom: 10vh;
}

.main__header{
    box-sizing: border-box;
    width: 100%;
    padding: 4%;
    border-radius: 2vh;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__header--text h1{
    color: #fff;
    font-weight: lighter;
    letter-spacing: -0.1vw;
}

.main__header--text-greeting{
    font-size: 4vw;
}

.main__header--text-rank{
    font-size: 3.25vw;
}

.main__header--picture{
    position: relative;
    background-color: #ddd;
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
}

.main__header--picture-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main__contents{
    width: 100%;
}

.main__contents--recomm{
    margin-top: 2vh;
    width: 100%;
}

.main__contents--recomm-text{
    margin-left: 3vw;
    font-size: 4.5vw;
    font-weight: bold;
}

.main__contents--recomm-routine{
    margin-top: 1vh;
    position: relative;
    width: 100%;
    height: 25vh;
    border-radius: 2vh;
    overflow: hidden;
}

.main__contents--recomm-routine-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main__contents--recomm-routine-info{
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    padding: 4%;
    width: 100%;
    height: 100%;
    background-color: rgba(33,33,33,0.25);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.main__contents--recomm-routine-info-ments h1{
    color: #fff;
    font-size: 5vw;
}

.main__contents--recomm-routine-info-ments h1:last-child{
    opacity: 0.75;
    font-size: 3vw;
    font-weight: lighter;
}

.main__contents--recomm-routine-info-pointBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__contents--recomm-routine-info-point{
    margin-left: 1vw;
    color: #fff;
    font-size: 1vw;
    font-weight: bold;
}

.point-Icon{
    width: 15px;
    height: 15px;
}

.point-Icon .icon-circle{
    fill: #fff;
}

.main__contents--part{
    margin-top: 2vh;
    width: 100%;
}

.main__contents--part-text{
    margin-left: 3vw;
    font-size: 4.5vw;
    font-weight: bold;
}

.main__contents--part-items{
    margin-top: -1vh;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.main__contents--part-items-item{
    box-sizing: border-box;
    margin-top: 2vh;
    padding: 4%;
    width: 48%;
    height: 22vh;
    background-color: #000;
    overflow: hidden;
    border-radius: 2vh;
    position: relative;
}

.main__contents--part-items-img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main__contents--part-items-info{
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    padding: 8%;
    width: 100%;
    height: 100%;
    background-color: rgba(33,33,33,0.25);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
}

.main__contents--part-items-info-ments h1{
    color: #fff;
    font-size: 4vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 35vw;
}

.main__contents--part-items-info-pointBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__contents--part-items-info-point{
    margin-left: 1vw;
    color: #fff;
    font-size: 1vw;
    font-weight: bold;
}

.menu {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
    bottom: 0;
    background-color: #ddd;
}
.menu > div {
    display: flex;
    flex: 1;
    text-align: center;
    align-items: center;
}
.menu > .menu-active {
    background-color: #333;
}
.menu > .menu-active > div {
    filter: invert(100);
    /* background-color: #ddd; */
}
.menu > div > div {
    flex: 1;
    height: 55%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    pointer-events: none;
}
.menu-health {
    background: url('../image/health.svg');
}
.menu-chat {
    background: url('../image/chat.svg');
}
.menu-rank {
    background: url('../image/rank.svg');
}
.menu-profile {
    background: url('../image/profile.svg');
}